h2 {
    font-family: rial, Helvetica, sans-serif;
    text-align: center;
}

table {
    margin: auto;
    text-align: center;
    width: 60%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    background: rgba(175, 161, 148, 0.11);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

td {
    border: 1px solid #dddddd;
    padding: 5px;
}

th {
    font-weight: bold;
    padding: 5px;
    background: linear-gradient(rgba(225, 218, 210, 0.82), rgba(175, 161, 148, 0.82));

    border: 1px solid #dddddd;
}

button {
    background-color: rgba(175, 161, 148, 0.16);
    font-family: rial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.input-but {
    background-color: rgba(175, 161, 148, 0.16);
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    font-size: 15px;
}

input {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

select {
    background-color: rgba(175, 161, 148, 0.16);
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

body {
    background-color: rgba(175, 161, 148, 0.07);
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 20px;
    font-size: 15px;
    font-family: rial, Helvetica, sans-serif;
    transition: .3s ease-in-out;
}

.create-form {
    width: 350px; /* ширина блока */
    height: 325px; /* высота блока */
    background: rgba(175, 161, 148, 0.16); /* фон блока */
    border-radius: 10px; /* закругленные углы блока */
    margin: 10% auto; /* отступ сверху и выравнивание по середине */
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06); /* тень блока */
}

.create-form h2 {
    background-color: rgba(175, 161, 148, 0.82); /* фон заголовка */
    border-radius: 10px 10px 0 0; /* закругляем углы сверху */
    color: black; /* цвет текста */
    font-size: 20px; /* размер шрифта */
    padding: 20px; /* отступы */
    text-align: center;
    text-transform: uppercase;
}

.field {
    border: none; /* рамка */
    padding: 15px; /* отступы текста */
    width: 260px; /* ширина */
    border-radius: 5px;
}

.field-name {
    padding: 0px 25px 25px;
}

p {
    text-align: center;
}
.input-create {
    background-color: rgba(175, 161, 148, 0.16);
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    margin-top: 10px;
    font-size: 15px;
}
