h2{
    text-align: center;
    font-family: sans-serif ;
}table {
    margin: auto;
    text-align: center;
    width: 60%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

td {
    border: 1px solid #dddddd;
    padding: 5px;
}
th {
    font-weight: bold;
    padding: 5px;
    background: darkgray;
    border: 1px solid #dddddd;
}
button {
    margin: 0 auto;
    display: block;
}