<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Библиотека</title>
  <link rel="stylesheet" th:href="@{/mysite.css}">
</head>
<body>
<div th:switch="${rowsData}">
  <h2 th:case="null">No books found!</h2>
  <div th:case="*">
    <h2>Библиотека</h2>
    <table>
      <thead>
      <tr>
        <th>
          <a th:href="@{/books?pageNumber=__${pageNumber}__&sortField=title&sortType=__${sortField}=='title' AND ${sortType}=='ASC' ? 'DESC' : 'ASC'__}">Название</a>
        </th>
        <th>
          <a th:href="@{/books?pageNumber=__${pageNumber}__&sortField=author&sortType=__${sortField}=='author' AND ${sortType}=='ASC' ? 'DESC': 'ASC'__}">Автор</a>
        </th>
        <th>Доступно</th>
        <th>Читатели</th>
        <th colspan="2">Действия</th>
      </tr>
      <tr></tr>
      </thead>
      <tbody>
      <tr th:each="book : ${rowsData}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>

        <td th:text="${book.countLeft} +' '+ '('+${book.countTotal}+')'"></td>
        <td>
          <a th:href="@{/book/{bookId}/readers(bookId=${book.id})}">Смотреть(<span
              th:text="${book.getUsers().size()}"></span>)</a></td>
        <td>
          <a th:href="@{book/{bookId}/update(bookId=${book.id})}">Редактировать</a></td>
        <td class="td-action"><a th:href="@{/book/{bookId}(bookId=${book.id})}">Удалить</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <table>
    <tr>
      <th>
        <a th:if="${pageNumber > 0}"
           th:href="@{/books?pageNumber=__${prevPage}__&sortField=__${sortField}__&sortType=__${sortType}__}">&lt;</a>

        <div class="disabled-but" th:if="${pageNumber <= 0}">&lt;</div>
      </th>
      <th th:each="number : ${showedNumbers}">
        <a th:if="${number} <= ${totalPages}"
           th:classappend="${pageNumber+1}==${number} ? active-page"
           th:href="@{/books?pageNumber=__${number-1}__&sortField=__${sortField}__&sortType=__${sortType}__}"
           th:text="${number}">number</a>
        <div class="disabled-but" th:if="${number} > ${totalPages}" th:text="${number}">number</div>
      </th>
      <th>
        <a th:if="${pageNumber} < ${totalPages-1}"
           th:href="@{/books?pageNumber=__${nextPage}__&sortField=__${sortField}__&sortType=__${sortType}__}">></a>
        <div class="disabled-but" th:if="${pageNumber} >= ${totalPages-1}">></div>
      </th>
    </tr>
  </table>
  <p class="ten" style="text-align: center"><a href="/">Вернуться к списку пользователей</a></p>
  <p class="ten" style="text-align: center"><a href="/book/create">Создать новую книгу</a></p>
</div>
</body>
</html>