<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
  <link rel="stylesheet" th:href="@{/mysite.css}">
</head>
<body>
<div th:switch="${rowsData}">
  <h2 th:case="null">No users found!</h2>
  <div th:case="*">
    <h2>Пользователи</h2>
    <table class="myclass">
      <thead>
      <tr>
        <th>
          <a th:href="@{/users?pageNumber=__${pageNumber}__&sortField=id&sortType=__${sortField}=='id' AND ${sortType}=='ASC' ? 'DESC' : 'ASC'__}">ИД</a>
        </th>
        <th>
          <a th:href="@{/users?pageNumber=__${pageNumber}__&sortField=firstName&sortType=__${sortField}=='firstName' AND ${sortType}=='ASC' ? 'DESC' : 'ASC'__}">Имя</a>
        </th>
        <th>
          <a th:href="@{/users?pageNumber=__${pageNumber}__&sortField=lastName&sortType=__${sortField}=='lastName' AND ${sortType}=='ASC' ? 'DESC' : 'ASC'__}">Фамилия</a>
        </th>
        <th>Книги</th>
        <th colspan="2">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${rowsData}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td>
          <a th:href="@{user/{userId}/books(userId=${user.id})}">Смотреть (<span
              th:text="${user.getBooks().size()}"></span>)</a>
        </td>
        <td>
          <a th:href="@{user/{id}/update(id=${user.id})}">Редактировать</a>
        </td>
        <td>
          <a th:href="@{user/{id}/delete(id=${user.id})}">Удалить</a>
        </td>


      </tr>
      </tbody>
    </table>
    <br>
    <table>
      <tr>
        <th>
          <a th:if="${pageNumber > 0}"
             th:href="@{/?pageNumber=__${prevPage}__&sortField=__${sortField}__&sortType=__${sortType}__}">&lt;</a>
          <div class="disabled-but" th:if="${pageNumber <= 0}">&lt;</div>
        </th>
        <th th:each="number : ${showedNumbers}">
          <a
              th:if="${number} <= ${totalPages}"
              th:classappend="${pageNumber+1}==${number} ? active-page"
              th:href="@{/?pageNumber=__${number-1}__&sortField=__${sortField}__&sortType=__${sortType}__}"
              th:text="${number}">{number}</a>
          <div class="disabled-but" th:if="${number} > ${totalPages}" th:text="${number}">{number}</div>
        </th>
        <th><a th:if="${pageNumber} < ${totalPages-1}"
               th:href="@{/?pageNumber=__${nextPage}__&sortField=__${sortField}__&sortType=__${sortType}__}">></a>
          <div class="disabled-but" th:if="${pageNumber} >= ${totalPages-1}">></div>
        </th>
      </tr>
    </table>
  </div>
  <p class="ten" style="text-align: center"><a href="/user/create">Создать нового пользователя</a></p>
  <p class="ten" style="text-align: center"><a href="/books">Перейти в библиотеку</a></p>
</div>
</body>
</html>