<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ВСЕкниги</title>
    <link rel="stylesheet" th:href="@{../mysite.css}">
</head>
<body>
<div th:switch="${books}">
    <h2 th:case="null">No books found!</h2>
    <div th:case="*">
        <h2>Библиотека</h2>

        <form style="text-align: center"  action="#" th:action="@{/create-newBook}" method="post">
            <input type="text" name="title" placeholder="Введи название">
            <input type="text" name="author" placeholder="Введи автора">
            <input type="submit" value="Создать книгу">
        </form>

        <br>
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Действия</th>

            </tr>
            <tr></tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">

                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td><a th:href="@{/books/{bookId}(bookId=${book.id})}">Удалить</a></td>

            </tr>
            </tbody>
        </table>
    </div>

    <table>
        <tr>
            <th><a th:href="@{/books?pageNumber=__${prevPage}__}"><</a></th>
            <th><a href="/books?pageNumber=0">1</a></th>
            <th><a href="/books?pageNumber=1">2</a></th>
            <th><a href="/books?pageNumber=2">3</a></th>
            <th><a href="/books">></a></th>
        </tr>


<!--        <tr>
            <th><a href="/books?pageNumber={prevPage}"><</a></th>
            <th th:each="nuber : ${showedNumbers}"><a href="/books?pageNumber=pageNumber">1</a></th>
            <th><a a href="/books?pageNumber={nextPage}">3</a></th>
            <th><a href="/books">></a></th>
        </tr>-->
    </table>
    <p style="text-align: center"><a href="/users">Вернуться к списку пользователей</a></p>
</div>
</body>
</html>