<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ВСЕ книги</title>
    <link rel="stylesheet" th:href="@{mysite.css}">
</head>
<body>
<div th:switch="${books}">
    <h2 th:case="null">No books found!</h2>
    <div th:case="*">
        <h2>Библиотека</h2>
        <form style="text-align: center" action="#" th:object="${newBook}" th:action="@{/create-newBook}" method="post">
            <label>
                <input type="text" name="title" placeholder="Введи название">
                <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
            </label>

            <label>
                <input type="text" name="author" placeholder="Введи автора">
                <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Title error</div>
            </label>

            <input class="input-but" type="submit" value="Создать книгу">
        </form>

        <br>
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Действия</th>

            </tr>
            <tr></tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">

                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td><a th:href="@{/books/{bookId}(bookId=${book.id})}">Удалить</a></td>

            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <table>
        <tr>
            <th><a th:href="@{/books?pageNumber=__${prevPage}__}"><</a></th>

            <th th:each="number : ${showedNumbers}">
                <a th:if="${number} <= ${totalPages}" th:href="@{/books?pageNumber=__${number-1}__}"
                   th:text="${number}">{number}</a>
                <div class="disabled-but" th:if="${number} > ${totalPages}" th:text="${number}">{number}</div>
            </th>

            <th><a th:href="@{/books?pageNumber=__${nextPage}__}">></a></th>
        </tr>

    </table>
    <p class="ten" style="text-align: center"><a href="/users">Вернуться к списку пользователей</a></p>
</div>
</body>
</html>