<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Создать новую книгу</title>
  <link rel="stylesheet" th:href="@{mysite.css}">
</head>
<body>
<div class="create-form">
  <h2>Создать новую книгу</h2>
  <form action="#" th:action="@{/create-new-book}" th:object="${newBook}" method="post">
    <div class="field-name">
      <label class="field-name" for="title"><br>Название</label>
      <input class="field" type="text" th:field="*{title}" id="title" placeholder="Введите название">
      <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
      <br>
      <label class="field-name" for="author"><br>Автор</label>
      <input class="field" type="text" th:field="*{author}" id="author" placeholder="Введите автора">
      <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error

      </div>
      <label class="field-name" for="countBook"><br>Количество</label>
      <input class="field" type="text" th:field="*{countBook}" id="countBook" placeholder="Количество">
    </div>
    <input class="input-create" type="submit" value="Создать книгу">
  </form>
</div>
</body>
</html>