<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Редактор книги</title>
<link rel="stylesheet" th:href="@{../mysite.css}">
<body>
<div class="update-form">
    <h2>Редактировать книгу</h2>
    <form action="#" th:action="@{/book-update}" th:object="${book}" method="post">
        <div class="field-name">
            <label class="field-name" for="id"><br>ИД</label>
            <input class="field" readonly type="number" th:field="*{id}" id="id" placeholder="ID">
            <label class="field-name" for="title"><br>Название</label>
            <input class="field" type="text" th:field="*{title}" id="title" placeholder="Title">
            <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name error</div>
            <label class="field-name" for="author"><br>Автор</label>
            <input class="field" type="text" th:field="*{author}" id="author" placeholder="Author">
            <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name error</div>
        </div>
        <p>
            <input class="input-create" type="submit" value="Сохранить изменения">
        </p>
    </form>
</div>
</body>
</html>