<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <link rel="stylesheet" th:href="@{../mysite.css}">
</head>
<body>
<div th:switch="${books}">
    <h2 th:case="null">No books found!</h2>
    <div th:case="*">
        <h2>Книги пользователя</h2>
        <form style="text-align: center" action="#" th:action="@{/create-book}" method="post">
            <label>
                <select name="bookId">
                    <option value="" selected>Выбрать книгу</option>
                    <option th:each="book : ${freeBooks}"
                            th:value="${book.id}"
                            th:text="${book.title}">
                    </option>
                </select>
            </label>
            <input type="hidden" name="userId" th:value="${userId}">
            <input class="input-but" type="submit" value="Записать">
        </form>
        <br>
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Всего <span th:text="${books.size()}"></span> шт.</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td><a th:href="@{/book-delete/{userId}/{id}(userId=${userId},id=${book.id})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p class="ten"><a href="/users">Вернуться к списку пользователей</a></p>
</div>
</body>
</html>