<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" th:href="@{mysite.css}">
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Пользователи</h2>
        <table class="myclass">
            <thead>
            <tr>
                <th>ИД</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th></th>
                <th></th>
                <th>Книги</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>

                <td><a th:href="@{user-delete/{id}(id=${user.id})}">Удалить</a></td>
                <td><a th:href="@{user-update/{id}(id=${user.id})}">Редактировать</a></td>
                <td>
                    <a th:href="@{user-books/{id}(id=${user.id})}">Смотреть (<span th:text="${bookCount}"></span>)</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
    <form action="/user-create">
        <button>Создать пользователя</button>
    </form>
    </p>
</div>
</body>
</html>