<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создать пользователя</title>
    <link rel="stylesheet" th:href="@{mysite.css}">
</head>
<body>
<div class="create-form">
    <h2>Создать пользователя</h2>
    <p>Пожалуйста, заполните форму,<br>чтобы создать нового пользователя</p>

    <form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
        <div class="field-name">
            <label class="field-name" for="firstName"><br>Имя</label>
            <input class="field" type="text" th:field="*{firstName}" id="firstName" placeholder="Введите имя">
            <br>
            <label class="field-name" for="lastName"><br>Фамилия</label>
            <input class="field" type="text" th:field="*{lastName}" id="lastName" placeholder="Введите фамилию">
        </div>
        <p>
            <input class="input-create" type="submit" value="Создать пользователя">
        </p>
    </form>
</div>
</body>
</html>